<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pawelsmolarski95.gmail.com.tablefootball">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infrastructure.base.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".domain.account.login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".domain.account.register.view.RegisterActivity" />
        <activity android:name=".domain.games.info.view.InfoActivity" />

    </application>
</manifest>

